[Unit]
Description=Prepare files received in CIFS share for upload
After=network.target systemd-user-session.service

[Service]
User=pi
ExecStart=/home/pi/TCM2ndHome/TC2Stager.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=smbd.service
