[Unit]
Description=Prepare files received in CIFS share for upload
PartOf=tcm2.service
After=tcm2.service

[Service]
User=pi
ExecStart=/home/pi/TCM2ndHome/TC2Stager.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=tcm2.service
