[Unit]
Description=Remove old empty directories from CIFS share path
PartOf=tcm2.service
After=tcm2.service

[Service]
User=pi
ExecStart=/home/pi/TCM2ndHome/RemoveOldSecond.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=tcm2.service
